.container_istruzioni {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 auto 20px;
    max-width: 800px;
}
body {
    background-color: #ce8d24;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}
p {
    font-size: 24px;
    margin-bottom: 20px;    
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    text-align: justify;
    text-decoration: none;
}

a {
    top:100px;
    left: 100px;
}

.container_istruzioni img {
    border: 3px solid #000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}