<!DOCTYPE html>
<html>
    <head>
        <title>ISTRUZIONE PER ARBITRI ROOKIE</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/first.css') }}">
    </head>
    <body>
        <h1>ISTRUZIONE PER ARBITRI ROOKIE</h1>
        <p>Benvenuto alla sezione 1 dell'istruzione per arbitri rookie!</p>
        <a href="{{ url_for('home_page') }}">Torna alla homepage</a>
        <div class="container_istruzioni">
            <h2>tiro da 1 un punto</h2>
            <img src="{{ url_for('static', filename='img/img copy/01_tiro_da_1_punto.png') }}" alt="01_tiro_da_1_punto">
            <p>Il tiro da 1 punto viene assegnato quando un giocatore subisce un fallo durante un tentativo di tiro da 3 punti e il tiro non va a segno.    </p>
        </div>
        <div  class="container_istruzioni"> 
            <h2>tiro da 2 punti</h2>
            <img src="{{ url_for('static', filename='img/img copy/02_tiro_da_2_punti.png') }}" alt="02_tiro_da_2_punti">
            <p>Il tiro da 2 punti viene assegnato quando un giocatore subisce un fallo durante un tentativo di tiro da 3 punti e il tiro va a segno.    </p>
        </div>
        <div  class="container_istruzioni"> 
            <h2>tiro da 3 punti</h2>                        
            <img src="{{ url_for('static', filename='img/img copy/03_tiro_da_3_punti.png') }}" alt="03_tiro_da_3_punti">
            <p>Il tiro da 3 punti viene assegnato quando un giocatore fa un tentativo di tiro da 3 punti.    </p>
        </div>
        <div class="container_istruzioni">
            <h2>tiro da 3 punti realizzato</h2>
            <img src="{{ url_for('static', filename='img/img copy/04_tiro_da_3_punti_realizzato.png') }}" alt="04_tiro_da_3_punti_realizzato">
            <p>Il tiro da 3 punti viene assegnato quando un giocatore fa un tentativo di tiro da 3 punti e il tiro va a segno.    </p>
        </div>
        <div class="container_istruzioni">
            <h2>annullamento del punto</h2>
            <img src="{{ url_for('static', filename='img/img copy/05_annullamento_del_punto.png') }}" alt="05_annullamento_del_punto">
            <p>L'annulamento del punto avviene quando viene fischiata un'infrazione prima di un tentativo di tiro e il tiro va a segno, anche se non valido.    </p>
        </div>
        <div class="container_istruzioni">
            <h2>Conferma dell'attività dell'arbitro</h2>
            <img src ="{{ url_for('static', filename='img/img copy/06_conferma_attivita_arbitro.png') }}" alt = "06_conferma_attivita_arbitro">
            <p>Per confermare l'attività dell'arbitro, è necessario che all'inizio della partita venga effettuata una conferma da parte dell'arbitro tramite un fischio prima della contesa iniziale.    </p>
        </div>
        <div class="container_istruzioni">
            <h2>fallo in attacco</h2>
            <img src="{{ url_for('static', filename='img/img copy/07_fallo_in_attacco.png') }}" alt="07_fallo_in_attacco">
            <p>Un fallo in attacco avviene quando un giocatore subisce un fallodurante un azione difensiva.    </p>
        </div>
        <div class="container_istruzioni">
            <h2>Passi</h2>
            <img src="{{ url_for('static', filename='img/img copy/08_passi.png') }}" alt="08_passi">
            <p>I passi vengono fischiati quando un giocatore fa più di 2 passi con la palla in mano.    </p>
        </div>
        <div class="container_istruzioni">
            <h2>Tecnico</h2>
            <img src="{{ url_for('static', filename='img/img copy/09_fallo_tecnico.png') }}" alt="09_fallo_tecnico">
            <p>Un fallo tecnico avviene quando un giocatore commette una infrazione regolamentare non considerata un fallo fisico ma irrispettosa nei confronti dei principi sportivi.    </p>
        </div>
        <div class="container_istruzioni">
            <h2>Sostituzione</h2>
            <img src="{{ url_for('static', filename='img/img copy/10_sostituzione.png') }}" alt="10_sostituzione">
            <p>La sostituzione dei giocatori avviene quando un giocatore viene rimpiazzato da un altro giocatore durante la partita.    </p>
        </div>
        <div class="container_istruzioni">
            <h2>Timeout</h2>
            <img src="{{ url_for('static', filename='img/img copy/11_timeout.png') }}" alt="11_timeout">
            <p>Il timeout viene assegnato dall'arbitro per interrompere la partita di un minuto.    </p>
        </div>
    </body>
</html>
